ZforeFromwork/Web References/UploadWebservice/UploadWebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UpHumanInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="humanXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpHumanInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpHumanInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpAttendInfo">
        <s:complexType />
      </s:element>
      <s:element name="UpAttendInfoResponse">
        <s:complexType />
      </s:element>
      <s:element name="InMyHeart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="heartXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InMyHeartResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpHumanInfoSoapIn">
    <wsdl:part name="parameters" element="tns:UpHumanInfo" />
  </wsdl:message>
  <wsdl:message name="UpHumanInfoSoapOut">
    <wsdl:part name="parameters" element="tns:UpHumanInfoResponse" />
  </wsdl:message>
  <wsdl:message name="UpAttendInfoSoapIn">
    <wsdl:part name="parameters" element="tns:UpAttendInfo" />
  </wsdl:message>
  <wsdl:message name="UpAttendInfoSoapOut">
    <wsdl:part name="parameters" element="tns:UpAttendInfoResponse" />
  </wsdl:message>
  <wsdl:message name="InMyHeartSoapIn">
    <wsdl:part name="parameters" element="tns:InMyHeart" />
  </wsdl:message>
  <wsdl:message name="InMyHeartSoapOut">
    <wsdl:part name="parameters" element="tns:InMyHeartResponse" />
  </wsdl:message>
  <wsdl:portType name="UploadWebserviceSoap">
    <wsdl:operation name="UpHumanInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web服务，上传人员信息</wsdl:documentation>
      <wsdl:input message="tns:UpHumanInfoSoapIn" />
      <wsdl:output message="tns:UpHumanInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpAttendInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">上传考勤信息</wsdl:documentation>
      <wsdl:input message="tns:UpAttendInfoSoapIn" />
      <wsdl:output message="tns:UpAttendInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InMyHeart">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">接收同步程序心跳</wsdl:documentation>
      <wsdl:input message="tns:InMyHeartSoapIn" />
      <wsdl:output message="tns:InMyHeartSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UploadWebserviceSoap" type="tns:UploadWebserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpHumanInfo">
      <soap:operation soapAction="http://tempuri.org/UpHumanInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpAttendInfo">
      <soap:operation soapAction="http://tempuri.org/UpAttendInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InMyHeart">
      <soap:operation soapAction="http://tempuri.org/InMyHeart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UploadWebserviceSoap12" type="tns:UploadWebserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpHumanInfo">
      <soap12:operation soapAction="http://tempuri.org/UpHumanInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpAttendInfo">
      <soap12:operation soapAction="http://tempuri.org/UpAttendInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InMyHeart">
      <soap12:operation soapAction="http://tempuri.org/InMyHeart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UploadWebservice">
    <wsdl:port name="UploadWebserviceSoap" binding="tns:UploadWebserviceSoap">
      <soap:address location="http://122.114.95.70/UploadWebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="UploadWebserviceSoap12" binding="tns:UploadWebserviceSoap12">
      <soap12:address location="http://122.114.95.70/UploadWebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>