ZforeServiceClient/Web References/UploadWebservice/UploadWebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UpHumanInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="humanXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpHumanInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpHumanInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="a" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="b" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpHumanInfoSoapIn">
    <wsdl:part name="parameters" element="tns:UpHumanInfo" />
  </wsdl:message>
  <wsdl:message name="UpHumanInfoSoapOut">
    <wsdl:part name="parameters" element="tns:UpHumanInfoResponse" />
  </wsdl:message>
  <wsdl:message name="addSoapIn">
    <wsdl:part name="parameters" element="tns:add" />
  </wsdl:message>
  <wsdl:message name="addSoapOut">
    <wsdl:part name="parameters" element="tns:addResponse" />
  </wsdl:message>
  <wsdl:portType name="UploadWebserviceSoap">
    <wsdl:operation name="UpHumanInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web服务</wsdl:documentation>
      <wsdl:input message="tns:UpHumanInfoSoapIn" />
      <wsdl:output message="tns:UpHumanInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="add">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">求和方法</wsdl:documentation>
      <wsdl:input message="tns:addSoapIn" />
      <wsdl:output message="tns:addSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UploadWebserviceSoap" type="tns:UploadWebserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpHumanInfo">
      <soap:operation soapAction="http://tempuri.org/UpHumanInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <soap:operation soapAction="http://tempuri.org/add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UploadWebserviceSoap12" type="tns:UploadWebserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpHumanInfo">
      <soap12:operation soapAction="http://tempuri.org/UpHumanInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <soap12:operation soapAction="http://tempuri.org/add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UploadWebservice">
    <wsdl:port name="UploadWebserviceSoap" binding="tns:UploadWebserviceSoap">
      <soap:address location="http://localhost:64475/UploadWebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="UploadWebserviceSoap12" binding="tns:UploadWebserviceSoap12">
      <soap12:address location="http://localhost:64475/UploadWebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>